BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseSensitive
NamespaceIndentation: None
Standard: c++23
